#friends-display-link {
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

#friends-display-link i {
    color: var(--color-gray);
}


.user-component {
    margin-bottom: 20px;
}

.friends-screen__channel {
    border-top: var(--border-gray);
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    color: var(--color-gray);
}

@keyframes kakaoanimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.kakao-background {
    background-color: var(--yellow);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    font-size: 120px;
    z-index: 3;
    animation: kakaoanimation 0.4s ease-in-out forwards;
    animation-delay: 2s;
}